main {
    padding: 0 1rem;
    border-radius: 0.5rem;
    max-width: 100%;
    margin: 0 .5rem .5rem 0.5rem;
}

h1.flex-angular-mars-header {
    display: inline-flex; width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    letter-spacing: 3px;
    margin-top: .5rem;
}

h1 > .main-text {
    font-size: x-large;
    padding-top: .5rem;
}

#angular-pic {
    width: 36px;
    margin-top: -4px;
    margin-left: -8px;
}   h1 > .main-text span.title-end {
    margin-left: -5px;
}



/* Now 'command-center', 'space-expedition' and 'monitor-comms' child components BS4 Grid: */
div.container-fluid { padding:0; }
div.row.no-gutters { margin-left: 0.5rem; }

/* Extend shrink BS4 columns (components) */
/* div.container-fluid.right-wing{} */



/* 
    Get some space for 'space-expedition > main > section.ui-ux-controller', a fixed middle command bar
    (zoom, rotate, move, etc. Mar's 'grid-container', having all deployed objects in Mars),
    between 'command-center' and 'space-expedition
*/
space-expedition {
    position: relative; /* 'section.ui-ux-controller' is absolute positioned */
    display: block;
    padding-top: 4rem;
}