/* SONY brand similar font: */
@import url('https://fonts.googleapis.com/css?family=Domine');
/* Old fashion ZX Spectrum way, terminal lettering: */
/* @import url('https://fonts.googleapis.com/css?family=Wallpoet'); */
/* Next end up being imported right @ index.html, <head> */
/* @import url('https://fonts.googleapis.com/css?family=Keania+One'); */

main {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--jpf-light-grey); /* black;;*/

    margin: 0 .5rem 0 0;

    /* Will have absolute positioning inside: */
    position: relative;
}

/* ============================= // ============================= */

/* Top [print DATA] monitor: */
section.monitor-screen-printer {
    width: 100%;
    margin: 0;
    display: block;

    margin-top: 0.5rem;
}

section.monitor-screen-printer > pre {
    border: 3px double var(--info);
    background-color: var(--jpf-monitor-screen-bg);
    color: white;
    padding: 0.5rem;
    /* Litle bit more of bottom margin so final content (scrolled) doesn't get under 'section.monitor-controls' */
    padding-bottom: 2rem;
}

/* ============================= // ============================= */

/* Top [stream VIDEO] monitor: */
section.monitor-video-streamer  {
    /* Will have absolute positioning elements inside! */
    position: relative;

    /* Give it some realistic long-distance video noise transmission: */
    background-image: url('../../../assets/imgs/noise-video-transmission.gif');
    background-repeat: no-repeat;
    background-attachment: unset;
    background-position: center;
    background-size: cover;

    /* Can NOT hide 'overflow' content - Joystick (plug-in) control will open BELOW the streaming video Monitor */
    /* overflow: hidden; */
}   section.monitor-video-streamer.is-clean-of-noise {
        background-image: none;
        background-color: var(--jpf-monitor-screen-bg);
}       section.monitor-video-streamer.is-clean-of-noise:before { content: '... trying to connect';
            position: absolute;
            color: var(--info); /* var(--jpf-rover-color); */
            white-space: nowrap;
            /* Old fashioned dirty glowing style: */
            /* font-family: 'Wallpoet', cursive; font-size: small; */
            font-family: 'Keania One', cursive; letter-spacing: 1px;
            /* text-shadow: 0 0 5px #C8C8C8; */

            left: 50%; top: calc(50% - calc(1.5rem / 2));
            transform: translate(-50%, -50%);
            
            animation: blink 1s ease-in infinite;
            }   @keyframes blink { 0%{opacity: 1;} 80%{opacity: 0}
}

section.monitor-video-streamer > div.screen {
    height: 10rem;
    border: 3px double var(--info);
    /* border: .25rem solid var(--info); */
    /* height: calc(10rem - calc(2 * 0.25rem));    /* <= effect coming with container's (upper) border set of 0.25rem... */
    /* border-radius: .75rem; */

    /* Just in case we want to "video" stream some text message...*/
    color: white;
    padding: 0 0.5rem;

    /* background-color: var(--jpf-monitor-screen-bg); */
    /* Each wanted background image has its own class... but formating is the same for all of them: */
    /* background-image: url('../../../assets/imgs/rover-inside.jpg'); */
    background-repeat: no-repeat;
    background-attachment: unset;
    background-position: center;
    background-size: cover;

    /* Center contents (Astronaut, etc.) both H + V */
    display: flex;
    justify-content: space-between;
    align-items: center;

        /*
            ======================================================
            Satellite TUNNING EFFECT, whenever you want
            for BOTH Big centered [stream VIDEO] hall and Top [stream VIDEO] monitor
            ======================================================
        */
    }   section.monitor-video-streamer > div.screen.tunning-effect,
        #monitor-video-hall div.screen-container > div.screen.tunning-effect {
            opacity: 1;
            animation: ImgComesAndGoes 3s linear 1;
    }   div.screen.tunning-effect-twice {
            animation: ImgComesAndGoes 3s linear 2;
    }   div.screen.tunning-effect-trebled {
            animation: ImgComesAndGoes 3s linear 3;
    }       @keyframes ImgComesAndGoes {
                0%   { opacity: 0; }
                10%  { opacity: 0.3 }
                20%  { opacity: 0; }
                40%  { opacity: 0.6 }
                80%  { opacity: 0.3 }
                90%  { opacity: 0.8 }
                100% { opacity: 1 }

        /*
            ======================================================
            EACH STREAMING CAN HAVE A DIFFERENT BACKGROUND (CSS class) IMAGE:
            ======================================================
        */
    }   div.screen.exterior-rover-orbit {
            background-image: url('../../../assets/imgs/mars-from-space.gif');
    }   div.screen.exterior-mars {
            background-image: url('../../../assets/imgs/mars_surface.jpg');
    }   div.screen.interior-cockpit {
            background-image: url('../../../assets/imgs/rover-inside.gif');
    }   div.screen.interior-deploy {
            background-image: url('../../../assets/imgs/deploy-camera.jpg');

        /* ====================================================== */

}   

/*
    Big centered [stream VIDEO] hall,
    that replicates EVERYTHING going on at Top [stream VIDEO] monitor, triggered by 'section.monitor-controls' <Joystick /> Dropdown
*/
#monitor-video-hall {
    /* Always centered @ viewport, following BS grid structure - @ init, get it up, out of sight: */
    position: fixed;
    top: -10%; left: 50%;     /* Firefox doesn't know very well how to deal with transform: translate... particularly ON LOADING! */
    transform: translate(-50%, -50%);
    transition: top 1s ease-out;

    height: 90%; width: calc(100% - 1rem); /* <= BS grid stays always inside browser's viewport */
    margin-left: -0.5rem;

    z-index: 1000;          /* <= to overcome Joystrick             */
    pointer-events: none;   /* <= must still see what's underneath  */

    }   #monitor-video-hall.is-down { top: 54%;
}


#monitor-video-hall div.screen-container {
    position: relative;
    height: 40vw; /*480px;*/
    max-height: 480px;
    width: 800px; max-width: 100%; /* <= can't be tooooo big - many parts get un-seen */

    border: 3px double var(--info);
    
    overflow: hidden;       /* <= hide what's overflowing so '.screen' can be user translated  */
    pointer-events: all;    /* <= we cannot let clicking go through  */

    margin: auto;           /* <= center content  */

    /* Give it some realistic long-distance video noise transmission: */
    background-image: url('../../../assets/imgs/noise-video-transmission.gif');
    background-repeat: no-repeat;
    background-attachment: unset;
    background-position: center;
    background-size: cover;

}   #monitor-video-hall div.screen-container.is-clean-of-noise {
        background-image: none;
}

#monitor-video-hall div.screen-container > div.screen {
    /* Centered, to its container: */
    position: absolute;
    top: 50%; left: 50%;

    /* And zoomed, so we have area to explore by the user: */
    width: 200%; height: 200%;
    transform: translate(-50%, -50%);

    background-color: var(--jpf-monitor-screen-bg);
    /* background-image: url('../../../assets/imgs/rover-inside.jpg'); */
    background-repeat: no-repeat;
    background-attachment: unset;
    background-position: center;
    background-size: cover;
}

/* ============================= // ============================= */

div.screen > div.rover-astronaut {
    /* Let flex center act: */
    margin: auto;

    /* Wil hold absolute posiion elements inside (@ pseudo ':before'):*/
    position: relative;
}   div.screen > div.rover-astronaut.is-deployed:before {
        content: '';
        /* Underneath Rover's astronaut, paint a thin line with the deployment place's color! */
        position: absolute;
        bottom: 0; left: 0;
        width: 7rem; height: 2rem;
        margin-left: -2rem;

        box-shadow: -1px 9px 6px -6px var(--jpf-deployment-video-color-on);

    /* The Rover's astronaut FontAwesome icon (@ i.fas:before ) - will suffer colorizing, showing some REAL movement once starts exploring Mars! */
    }   div.screen > div.rover-astronaut > i.fas {
            display: none;
            color: var(--jpf-dark-grey);

            animation-duration: 2s;
            animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
            animation-iteration-count: infinite;
    }   div.screen > div.rover-astronaut > i.fas:before {
            background-color: var(--jpf-light-grey);

            border-radius: 50%;
            padding: 0.5rem;
            padding-bottom: 0.1rem;
            margin-left: -0.3rem;

            position: relative;   
            bottom: 0.2rem;
    
            transition: color 500ms;
    
    }   div.screen > div.rover-astronaut.is-deployed > i.fas {
            color: var(--jpf-dark-grey);
    }   div.screen > div.rover-astronaut.is-walking-on-mars > i.fas {
            /* Rover's astronaut get's green... and walking! ;-) */
            color: var(--jpf-rover-color);
            /* Animation timming will be override by user 'lagTime' input set value */
            animation-name: Walk;
        }   @keyframes Walk { 0%, 100% { top: 0; transform: scale(1) } 50% { top: -0.5rem; transform: scale(1.05) }
}

/* ============================= // ============================= */

section.monitor-controls {
    background-color: var(--jpf-light-info); /* rgba(0,0,0,.1); */

    position: absolute;
    /*right: 0;*/ bottom: 0.5rem;
    height: 1.5rem;
    
    width: calc(100% - 1rem);

}   #monitor-video-hall section.monitor-controls{
        width: 800px; max-width: 100%;
        left: 50%; transform: translateX(-50%);
        bottom: 0;
}   section.monitor-video-streamer > section.monitor-controls {
        width: 100%; bottom: 0;
}       section.monitor-video-streamer > section.monitor-controls > div.cameras-dropdown-wrapper {
            position: static;
}   

section.monitor-controls .sony-logo {
    font-family: 'Domine', serif;
    color: white;
    display: inline-block;
    width: 100%;
    text-align: center;

    transform: scaleY(0.6);
    font-weight: bold;
    letter-spacing: 2px;
}


section.monitor-controls .button-control {
    position: absolute;
    bottom: 0;
    opacity: 0.6;
    transition: opacity 500ms;

    z-index: 1;
    cursor: pointer;
    color: var(--jpf-rover-color);
}   .button-control:hover {
        opacity: 1 !important;

}       .button-control.camera {
            left: 0;
            margin-left: 1rem;
}       .button-control.joystick {
            right: 0;
            margin-right: 1rem;
}       .button-control.delete {
            right: 0; 
            margin-right: 1rem;
}       .button-control.pull-up {
            right: 0; 
            margin-right: 1rem;
            margin-bottom: 0.05rem;
}

#joystick-pad + .dropdown-menu {
    /* SHOULD have the same style as (left side controls) camera switchinng dropdown... only on the right side: */
    left: unset !important; right: 0;
    
    /* display: flex; */
    justify-content: center;
    align-items: center;
}   #joystick-pad + .dropdown-menu.show {
        display: flex;        
        /* Just in case you want to TEST, and see next sibbling "x"/"y" changing: */
        flex-flow: column;
}

/* Uniformize both dropdown menus: */
div.cameras-dropdown-wrapper > .dropdown-menu,
#joystick-pad + .dropdown-menu {
    background: var(--jpf-light-monitor-screen-bg);
    top: 0.25rem !important;
    border: 3px double var(--info);
}
/* Don't let BS4 Dropdown to transform their positioning, anyway:*/
div.cameras-dropdown-wrapper > .dropdown-menu { transform: translate(0.2rem, 1.5rem) !important;}
#joystick-pad + .dropdown-menu { transform: translate(-0.2rem, 1.5rem) !important;}


/* The camera (or others BS4 we might possible have) selector dropdown items: */
section.monitor-controls .dropdown-item { font-size: smaller; color: white; }
section.monitor-controls .dropdown-item.active,
section.monitor-controls .dropdown-item:active { background-color: var(--info); color: var(--jpf-rover-color); }
section.monitor-controls .dropdown-item:focus,
section.monitor-controls .dropdown-item:hover { background-color: var(--jpf-light-grey); color: var(--jpf-rover-color); }

/* We have sub titles, on the big Sony screen Video Hall! ;-) */
section.monitor-controls > div.sub-titles-container {
    position: absolute;
    top: 0; left: 0;

    margin-top: -1.8rem; margin-left: 0.5rem;
    max-width: calc(100% - 1rem);
}   div.sub-titles-container > .sub-title-label.text-truncate { width: 100%;
}   div.sub-titles-container > .sub-title-label {
        color: #fff;
        background: var(--jpf-monitor-screen-bg); /* #000; */
        letter-spacing: 0.05rem;
        font-size: smaller;

        text-shadow: 0px 1px 1px #000;

        opacity: 1;
        transition: none;
}   div.sub-titles-container > .sub-title-label.fade-out {
        padding: 0 0.5rem;
        /* Will fade-our but ONLY after some TRANSITION-DELAY! */
        opacity: 0 !important;
        transition: opacity 1.5s ease-out;
        transition-delay: 5s;
}   div.sub-titles-container > .sub-title-label.fade-out > span.label-time { margin-right: 1rem;
/* }   div.sub-titles-container > .sub-title-label > span.label-text { */

}