<main>

    <section class="monitor-video-streamer has-small-strong-shadow">
        
        <div class="screen">
            <div class="rover-astronaut">
                <i class="fas fa-user-astronaut fa-3x"></i>
            </div>
        </div>

        <section class="monitor-controls">

            <div class="cameras-dropdown-wrapper NOT-dropup">
                <span class="button-control camera dropdown-toggle"
                    id="cameras-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                ><i class="fas fa-video"></i>
                </span>
                <div class="dropdown-menu" aria-labelledby="cameras-menu">
                    <a *ngFor="let camera of setOfCameras" class="dropdown-item"
                        href="javascript:void(null);" (click)="setMonitorControlToCamera($event);" [attr.data-camera]="camera.id">{{ camera.name }}
                    </a>
                </div>
            </div>

            <span class="sony-logo">SONY</span>

            <div class="joystick-dropdown-wrapper">
                <span class="button-control joystick dropdown-toggle"
                    id="joystick-pad" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                ><i class="fas fa-gamepad"></i></span>
                <div class="dropdown-menu" aria-labelledby="joystick-pad">
                    <div class="dropdown-item">
                        Soon...<br>Video hall joystick monitor!
                    </div>
                    <monitor-joystick></monitor-joystick>
                </div>
            </div>

        </section>
    
    </section>

    <section class="monitor-screen-printer has-small-strong-shadow">
        <pre></pre>
    </section>

    <section class="monitor-controls">
        <span class="sony-logo">SANYO</span>
        <span class="button-control delete" (click)="deleteDataContent()"><i class="fas fa-trash-alt"></i></span>
    </section>

</main>

<div id="monitor-video-hall">
    <!-- Same grid as in 'app-component', so we have the same responsive behaviour -->
    <div class="container-fluid">
        <div class="row no-gutters">

            <div class="col-xl-10 col-lg-9 col-md-8 col-sm-12">

                <div class="screen-container has-small-strong-shadow">
                    <div class="screen"></div>
                </div>
                <section class="monitor-controls">

                    <div class="sub-titles-container">
                        <div class="sub-title-label d-inline-block text-truncate" title="Waiting for video connection...">
                            <span class="label-time">Waiting for video connection... &nbsp;</span>
                            <span class="label-text d-inline-flex"><i class="fas fa-spinner fa-spin fa-lg"></i></span>
                        </div>
                    </div>

                    <span class="sony-logo">video SONY hall</span>

                </section>

            </div>
            
            <div class="right-wing col-xl-2 col-lg-3 col-md-4 col-sm-12"></div>

        </div>
    </div>

</div>