.switch-container{ display: inline-flex;}
.switch {
    border: 2px solid var(--info);
    position: relative;
    box-sizing: content-box;
    margin: 0 10px calc(-1 * (2px + 2px)) 0;
    cursor: pointer;
    box-shadow: rgb(223, 223, 223) 0 0 0 0 inset;
    transition: 0.3s ease-out all;
    -webkit-transition: 0.3s ease-out all;
}

mark {
    background-color: inherit;  // Reset Lightning System CSS for <mark />
    border-radius: 100%;
    border: 2px solid var(--gray);
    // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 1px;
    left: 1px;
    transition: 0.3s ease-out all;
    -webkit-transition: 0.3s ease-out all;
}

.switch.checked mark {
    border: none;
    background: var(--gray);
}

.disabled {
    opacity: .50;
    cursor: not-allowed;
}

// =================
.switch-large {
    width: 100px;
    height: 38px;
    border-radius: 38px;
}
.switch-large mark {
    width: 36px;
    height: 36px;
}
.switch-large.checked mark { left: 63px; }
// =================
.switch-medium {
    width: 55px;
    height: 20px;
    border-radius: 20px;
}
.switch-medium mark {
    width: 18px;
    height: 18px;
}
.switch-medium.checked mark { left: 36px; }
// =================
.switch-small {
    width: 40px;
    height: 14px;
    border-radius: 20px;
}
.switch-small mark {
    width: 12px;
    height: 12px;
}
.switch-small.checked mark { left: 27px; }
// =================