section.planet-wrapper {
    overflow: hidden; /* scroll */

    /*
        Will hold 'div#deployment-point-compass' absolute positioned inside!

        'div#deployment-point-compass' is special! It's the ABSOLURE cardinal reference of ALL!
        The only compass that is always seen and always fixed at <section class="mars" /> center - it's NEVER markup as '.grid-center'!
    */
    position: relative;
}

/*
main.is-expanded {    
    /* 100vh - [ app-component's <h1 class="mars-angular-header" /> + 'command-center's <main /> + 2 * (<body /> margin) +  'command-center's <main /> margin-bottom ] *//*
    max-height: calc(100vh - (58px + 242px + 2*(.5rem) + 0.5rem));
    /**//*
        Note that "'command-center's <main />" height will vary between 209px, 242px, 275px, ... 426px (so as min-height!) due to responsive behaviour
        (collapse underneath of 1, or more, badges @ 'command-center'!)
        So.. needs to be measured and JS calculated! ;-) => NOT by CSS anymore...
    /*
}
*/


/*
======================================================
    main > section.mars
======================================================
*/

div.planet-bg-img {
    overflow: hidden;

    background-image: url('../../../assets/imgs/mars_surface.jpg');
    background-repeat: no-repeat;
    background-attachment: unset;
    background-position: center;
    background-size: cover;

    transform: scale(1.0);
    transition: transform 5s ease-in-out;

    /* Force to center h+v its content: 'div.grid-container' has all Rover's stuff in Mars! */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */

    /*
        Nothing special; next is just a styling feature to always have some height;
        Once we change for proper high definition inages, maybe this can be re-thought!
        Current img is very small and has a crap definition...
    */
    min-height: 90vh;

    } div.planet-bg-img.is-zooming { transform: scale(1.2);
}


/*
    ====================================================
    EACH COMPASS is a "cartesian axys system", in Mars and in Rover,
    that will "orientate" different,
        once Rover starts turning left/right
    or
        Mars starts to transform (rotate/translate)
    ====================================================
*/
div#deployment-point-compass,
div.mars-point-marker {
    position: relative;
    margin-left: 0.53rem; /* Delta = (-0.02)    FontAwesome icons were always a disaster, concerning symetry...  ;-) */
    /* display: none; */
    /*
        Now special 'div#deployment-point-compass', the ABSOLURE cardinal reference of ALL!
        The only compass that is always seen and always fixed at <section class="mars" /> center - it's NEVER markup as '.grid-center'!
    */
}   div#deployment-point-compass,
    div.mars-point-marker {
        position: absolute;
        margin: auto;
        /* Always seen: */
        opacity: 1;
    }   div.mars-point-marker {
            /*
                top: calc(50% - Y); left: calc(50% + X); <= each Mars point will have theirs! NOTE the negative Y!
                See HTML template, inside <div class="mars-places-container">
            */
            /* Must undo the margins done so far:*/
            margin-left: -0.48rem;  /* Delta = - (-0.02)        FontAwesome icons were always a disaster, concerning symetry...  ;-) */
            margin-top: -0.92rem;   /* Delta = - (-0.08), from 'margin: auto;' */

    }   div#deployment-point-compass {
            z-index: 1;
            /* Centered v+h*/
            top: 50%; left: 50%;

}

/*
    ==========================
    Inside each Compass:
    ==========================
*/
div#deployment-point-compass > i.fas {
    position: absolute;
    left: 0; bottom: 0;
    margin-left: -0.5rem; margin-bottom: -0.47rem;
    color: var(--jpf-mars-compass); /*var(--warning);*/
    }   div#deployment-point-compass > i.fas { color: var(--jpf-deployment-point-compass); 
}

div#deployment-point-compass > .arrows-container {
    position: relative;
    left: -0.38rem; top: 0.3rem;
    
    width: 1rem;
    /* background-color: wheat; */
}   .arrows-container > div.cartesian-arrows {
        position: absolute;
        left: 0; bottom: 0;
        font-size: x-large;
        }   div#deployment-point-compass > .arrows-container > div.cartesian-arrows { color: green;
                }   .arrows-container > div.cartesian-arrows:last-child {
                        margin-bottom: -0.7rem;
                        margin-left: 0.3rem;
                    }   div#deployment-point-compass > .arrows-container > div.cartesian-arrows:last-child {color: blue;

        
                } .arrows-container > div.cartesian-arrows > span {
                    position: absolute;
                    font-size: x-small; /* medium; */
                    font-weight: 900;

                    opacity: 0.7;

                    /* Make the label solid:*/
                    padding: 0 0.5rem;
                    background-color: var(--jpf-light-grey);
                    border: 1px solid;
                    border-radius: .5rem;
                    /*... and for EACH*/
                    }   div#deployment-point-compass > .arrows-container > div.cartesian-arrows > span { color: var(--jpf-deployment-point-compass);

                        }   div#deployment-point-compass > .arrows-container > div.cartesian-arrows:first-child > span {
                                top: -2.5rem; /*-0.7rem;*/
                                /* ... and a bit further separated: */
                                /* margin-bottom: 2rem; <= went to "top" measure */

                                /* Now '#deployment-point-compass' have "NORTH" on label => h center it: */
                            }   div#deployment-point-compass > .arrows-container > div.cartesian-arrows:first-child > span {
                                    left: -1.3rem;

                        }   div#deployment-point-compass > .arrows-container > div.cartesian-arrows:last-child > span {
                                top: 0.6rem; left: 1.6rem;
                                /* ... and a bit further separated: */
                                margin-left: 2rem;

}

/*
    ====================================================
    POINT marks of MARS interesting places, for Rover's exploring mission!
    (custom individualization - one of them will be the deployment point, chosen by the user setup of Rover's travelling on Mars)
    ====================================================
*/
/*
.mars-point-marker > i.fas:before {/* Each FontAwesome 'fa-map-marker' icon POINT, all of same Mars color compass: */ /*
    color: var(--jpf-mars-compass);
    opacity: 0.4
}
*/
.mars-point-marker > i.fas:after {/* Each "interesting" PLACE, shadowed with is's color ('mars-places.json') around our FontAwsome marker: */
    content: '';
    position: absolute;
    
    border-radius: 50%;
    border: 0.25rem solid;
    padding: calc(1.1rem - 0.25rem) calc(1.1rem - 0.25rem);
    /* Nice, big area colorized by marker Point color: */
    box-shadow: 0px 0px 30rem 8rem;
    opacity: 0.6;

    /* Centered on FontAwesome icon - the Mars Place to explore! */
    transform: translate(calc(-50% + -0.5rem), calc(-50% + 0.5rem));
}