<section class="planet-wrapper">

    <div id="deployment-point-compass">
        <i class="fas fa-crosshairs"></i>
        <div class="arrows-container">
            <div class="cartesian-arrows"><span>NORTH</span>&uarr;</div>
            <div class="cartesian-arrows">&rarr;<span>EAST</span></div>
        </div>
    </div>

    <div class="planet-bg-img">
        
        <deployed-expedition
            [landingData]="sendDataToShuttleConveyor"
            [deployedPos]="sendDeployedPos"
            [currentJourneyRoadMap]="currentJourneyRoadMap"

            (sendPlanetToZoomOut)="zoomPlanet('out');"
            (isAstronautOnMarsSoil)="updateIsAstronautOnMarsSoil($event)"
            (finishExplorationJourney)="finishExplorationJourney.emit($event)"
        ></deployed-expedition>

        <div class="mars-points-container">
        <!-- On Mars, background img has it's "center" at top left container's corner => Movement along Y (+/- 'top') is always negative, below '0' -->
            <div *ngFor="let point of deploymentPoints; let i = index" class="mars-point-marker"
                [ngStyle]="{ 'top': 'calc(50% + ' + -1*point.coordinates.y + 'rem)', 'left': 'calc(50% + ' + point.coordinates.x + 'rem)' }"
                [ngClass]="'text-' + point.color"
            >
                <i class="fas fa-map-marker-alt fa-lg"
                    data-toggle="tooltip-marker" data-placement="top" data-html="true"
                    title="{{ point.place }} @ {{'(<strong>' + point.coordinates.x + '</strong>,<strong>' + point.coordinates.y + '</strong>)'}}"
                ></i>
                
            </div>

        </div>

    </div>

</section>