<div id="rover">
    <i class="fas fa-space-shuttle fa-lg"></i>

    <div id="rover-compass" class="grid-center">
        <i class="fas fa-crosshairs"></i>
        <div class="arrows-container">
            <div class="cartesian-arrows"><span>X</span>&uarr;</div>
            <div class="cartesian-arrows">&rarr;<span>Y</span></div>
        </div>
    </div>

</div>