<main>

    <section class="show-instructions-panel" [class.hidden]="!showInstructionsText">

        <div class="fieldset-collection-wrapper">
        
            <div class="input-section-label">Your driving <strong>Instructions</strong></div>
            <div>
                <fieldset class="init-data-text max-width">
                    <span>
                        <span class="badge setup-info-badge badge-{{ marsDeploymentPoint.color }} has-small-shadow">
                            Deployed @: <span class="badge badge-light">{{ '{' }} x: {{ (marsDeploymentPoint.coordinates?.x | number) || '??' }}, y: {{ (marsDeploymentPoint.coordinates?.y | number) || '??' }} {{ '}' }}</span>
                        </span>
                    </span>
                    <span class="badge setup-info-badge badge-secondary has-small-shadow">
                        Limited by: <span class="badge badge-light">{{ '{' }} with: {{ (roverLimits?.area?.width | number) || '??' }}, height: {{ (roverLimits?.area?.height | number) || '??' }},  lag: {{ (roverLimits?.lagTime | number) || '??' }}ms {{ '}' }}</span>
                    </span>

                    <span>
                        <span class="badge setup-info-badge badge-secondary has-small-shadow">
                            GPS: <span class="badge badge-light">{{ '{' }} x: {{ (roverPosition.coordinates?.x | number) || '??' }}, y: {{ (roverPosition.coordinates?.y | number) || '??' }} {{ '}' }}</span>
                        </span>
                    </span>

                    <span>
                        <span class="badge setup-info-badge badge-info has-small-shadow">
                            <i class="fas fa-compass"></i><span class="badge badge-light">{{ (roverPosition.orientation.cardinal || roverPosition.orientation || '??') }}</span>
                        </span>
                    </span>

                    <span>
                        <span class="badge setup-info-badge has-small-shadow" [class.badge-warning]="isToCumulateJourneys?.journey === 'true'" [class.badge-primary]="isToCumulateJourneys?.journey">
                            Starts <span class="badge badge-light">{{ isToCumulateJourneys?.journey === 'true' ? 'from previous' : 'from init' }}</span>
                        </span>
                    </span>

                    <span *ngIf="hasJourneyFinished">
                        <span class="badge setup-info-badge has-small-shadow" [class.badge-danger]="finalResults?.isRestrictedAreaCrossed" [class.badge-success]="!finalResults?.isRestrictedAreaCrossed">
                            Journey finished @ <span class="font-weight-bold">{{ marsDeploymentPoint.place }}</span>
                            <span class="badge badge-light">{{ finalResults?.isRestrictedAreaCrossed ? 'out of limits!' : 'within limits' }}</span>
                        </span>
                    </span>
                    <span *ngIf="!hasJourneyFinished">
                        <span class="badge setup-info-badge badge-light has-small-shadow">
                            Rover is exploring @ <span class="font-weight-bold">{{ marsDeploymentPoint.place }}</span>...
                            <span class="badge badge-light"><i class="fas fa-spinner fa-spin fa-lg"></i></span>
                        </span>
                    </span>

                    <br>

                    <span>
                        <span class="badge setup-info-badge arrows-char-printer">
                            <i class="fas fa-space-shuttle fa-lg has-text-small-shadow" [ngStyle]="{ 'cursor': 'pointer', 'transform': 'rotate(-90deg)' }" (click)="seeMoves = !seeMoves"></i>
                            <span *ngIf="seeMoves" class="badge" [innerHTML]="translateMovesToArrows(25)"></span> 
                            <span *ngIf="!seeMoves" class="badge">{{ limitStringToChars(strCommand, 25) }}</span> 
                        </span>
                    </span>

                    <button name="lift-form-command"  class="btn btn-info has-small-shadow" title="Pull form down... if disabled, wait Rover's journey report!"
                        [disabled]="!hasJourneyFinished"
                        (click)="pullUp_showInstr(null, false)"
                    ><i class="fas fa-arrow-alt-circle-down fa-lg"></i></button>

                </fieldset>
            </div>

        </div>
    </section>
    
    <section class="define-journey">

        <div class="fieldset-collection-wrapper">
            <div class="input-section-label rover-area-input">Deployment <strong>point</strong> on Mars
                <i class="fas fa-question-circle ml-2"
                    data-toggle="tooltip" data-placement="top" data-html="true"
                    title="Plan your expedition on Mars - choose the deployment place.<br>Input is not editable; is selectable (click on button to select!)"
                ></i>
            </div>
            <div>
                <fieldset class="container-styled-input width-not">
                    <label class="inp">
                        <button type="button" name="deployment" class="btn btn-sm btn-outline-secondary has-small-shadow"
                            data-toggle="modal" data-target="#mars-deployment-points-modal"
                            title="Choose a Mars deployment point, for your Rover's journey."
                        >Select one!</button>
                    </label>
                </fieldset>
                <fieldset  class="container-styled-input">
                    <label class="inp">
                        <input readonly name="deploymentPoint" value="{{ '{' + marsDeploymentPoint?.coordinates.x + ', ' + marsDeploymentPoint?.coordinates.y + '}' }}" placeholder="&nbsp;" (change)="changeInputTo('deploymentPoint', $event)">
                        <span class="label deploy-point"
                            [attr.data-deploy-point-place]="marsDeploymentPoint.place ? marsDeploymentPoint.place : ''"
                        >Deploy @:</span>
                        <span class="inp-border"></span>
                    </label>
                </fieldset>
            </div>
   
        </div>

        <div class="fieldset-collection-wrapper">

            <div class="input-section-label">Rover initial GPS <strong>starting point</strong></div>
                
            <div [class.hidden]="isEditMode" class="init-data-text">
                <span class="badge badge-secondary setup-info-badge has-small-shadow">
                    GPS: <span class="badge badge-light">{{ '{' }} x: {{ (lastReachedPos?.coordinates.x | number) || '??' }}, y: {{ (lastReachedPos?.coordinates.y | number) || '??' }} {{ '}' }}</span>    
                </span>
                <span class="badge badge-info setup-info-badge has-small-shadow">
                    <i class="fas fa-compass"></i><span class="badge badge-light">{{ (lastReachedPos?.orientation || '??') }}</span>    
                </span>
                <span class="badge setup-info-badge has-small-shadow" [class.badge-success]="!finalResults?.isRestrictedAreaCrossed" [class.badge-danger]="finalResults?.isRestrictedAreaCrossed">
                    Cross? <span class="badge badge-light">{{ finalResults?.isRestrictedAreaCrossed }}</span>    
                </span>
            </div>
            <div [class.hidden]="!isEditMode" class="rover-init-position">

                <fieldset class="container-styled-input">
                    <label class="inp">
                        <input type="number" min="1" step="1" name="x" placeholder="&nbsp;" (change)="changeInputTo('x', $event)">
                        <span class="label">X axis:</span>
                        <span class="inp-border"></span>
                    </label>
                </fieldset>
                <fieldset  class="container-styled-input">
                    <label class="inp">
                        <input type="number" min="1" step="1" name="y" placeholder="&nbsp;" (change)="changeInputTo('y', $event)">
                        <span class="label">Y axis:</span>
                        <span class="inp-border"></span>
                    </label>
                </fieldset>
                <fieldset  class="container-styled-input">
                    <label class="inp dropdown">

                        <input name="cardinal" placeholder="&nbsp;" (change)="changeInputTo('cardinal', $event)"
                            readonly class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        >
                        <span class="label">Facing:</span>
                        <span class="inp-border"></span>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="javascript:void(null);" (click)="setDropdownVal('N', $event);">North <span>&uarr;</span></a>
                            <a class="dropdown-item" href="javascript:void(null);" (click)="setDropdownVal('W', $event);">West <span>&larr;</span></a>
                            <a class="dropdown-item" href="javascript:void(null);" (click)="setDropdownVal('S', $event);">South <span>&darr;</span></a>
                            <a class="dropdown-item" href="javascript:void(null);" (click)="setDropdownVal('E', $event);">East <span>&rarr;</span></a>
                        </div>
                    </label>
                </fieldset>
            </div>

        </div>

        <div class="fieldset-collection-wrapper">

            <div class="input-section-label rover-area-input">Restrict travelling <strong>area</strong> and <strong>speed</strong>
                <i class="fas fa-question-circle ml-2"
                    data-toggle="tooltip" data-placement="top" data-html="true"
                    title="The inputted <strong>restricted driving</strong> area - 'W' x 'H' dimensions<br>will have it's bottom left corner @ Mars deployment point.<br><br>The <strong>lag</strong> value is how <em>slow</em> will Rover explore Mars.<br>Will set both Rover's, and its astronaut walking pace,<br>movement speed - the higher, the less <strong>speed expedition</strong>.<br><br>A value of <strong>800</strong>~<strong>2000</strong> should be confortable<br>to fully follow Rover's expedition - but you can try any."
                ></i>
            </div>
            <div>
                <fieldset class="container-styled-input">
                    <label class="inp">
                        <input type="number" min="1" step="1" name="width" placeholder="&nbsp;" (change)="changeInputTo('width', $event)">
                        <span class="label">Width:</span>
                        <span class="inp-border"></span>
                    </label>
                </fieldset>
                <fieldset class="container-styled-input">
                    <label class="inp">
                        <input type="number" min="1" step="1" name="height" placeholder="&nbsp;" (change)="changeInputTo('height', $event)">
                        <span class="label">Height:</span>
                        <span class="inp-border"></span>
                    </label>
                </fieldset>
                <fieldset class="container-styled-input">
                    <label class="inp">
                        <input type="number" min="0" step="250" name="lagTime" value="{{ roverLimits?.lagTime}}" placeholder="&nbsp;" (change)="changeInputTo('lagTime', $event)">
                        <span class="label">Lag (ms)</span>
                        <span class="inp-border"></span>
                    </label>
                </fieldset>
            </div>

        </div>

        <div class="fieldset-collection-wrapper">

            <div class="input-section-label">How to deduce <strong>next</strong> journey's <strong>starting point</strong></div>
            <div class="rover-cumulate-journeys-radio-container">
                <fieldset  class="container-styled-input inline-not width-not">
                    <input type="radio" name="isToCumulateJourneys" id="radio-true" value="true" (click)="changeInputTo('journey', $event); showSectionDefineJourney(false);">
                    <span>Cumulate from arriving position?</span>
                    <i class="fas fa-question-circle ml-3"
                        data-toggle="tooltip" data-placement="top" data-html="true"
                        title="After submiting, you can't input starting point anymore.<br>It will be the previous journey's GPS that Rover finishes on!"
                    ></i>
                </fieldset>
                <fieldset  class="container-styled-input inline-not width-not">
                    <input type="radio" name="isToCumulateJourneys" id="radio-false" value="false" (click)="changeInputTo('journey', $event); showSectionDefineJourney(true);">
                    <span>Start at last inputted starting point?</span>
                    <i class="fas fa-question-circle ml-3"
                        data-toggle="tooltip" data-placement="top" data-html="true"
                        title="After submiting, Rover will go 1st to upper starting GPS point."
                    ></i>
                </fieldset>
            </div>
        
        </div>

        <div class="fieldset-collection-wrapper flex-max-width">

            <div class="input-section-label">Routing <strong>commands</strong> to drive Rover in Mars
                <i class="fas fa-question-circle ml-2"
                    data-toggle="tooltip" data-placement="top" data-html="true"
                    title="1 string, no separators - unlimited chars/command units:<br><strong>A</strong>dvance | <strong>L</strong>eft turn | <strong>R</strong>ight turn<br><br>For instances, entering <strong>ARRR</strong>, or <strong>ALLL</strong>,<br>will drive Rover in a square to reach the same starting point.<br><br>Enjoy your journey on Mars!"
                ></i>
            </div>
            <div>
                <fieldset class="container-styled-input max-width">
                    <label class="inp">
                        <input type="text" name="command" placeholder="&nbsp;" (keyup)="userIsTyping($event)">
                        <span class="label">Command:</span>
                        <span class="inp-border"></span>
                    </label>
                </fieldset>
            </div>
        </div>

        <button type="button" name="submit" class="btn btn-info has-small-shadow" title="Send this Instructions to our Rover on Mars starts driving!"
            [disabled]="!strCommand || !(roverLimits?.area?.width | number) || !(roverLimits?.area?.height | number)|| !(roverLimits?.lagTime | number) || !(roverPosition.coordinates?.x | number) || !(roverPosition.coordinates?.y | number) || !roverPosition.orientation?.cardinal || !isToCumulateJourneys?.journey"
            (click)="clickToSubmitInstructions()"
        ><i class="fas fa-space-shuttle fa-lg"></i><span class="mobile-hide-for-480"> Drive it on Mars!</span></button>
        <!--
        {{ 'strCommand:' + strCommand }}<br>
        
        {{ 'width: ' + roverLimits?.area?.width }}<br>
        {{ 'height: ' + roverLimits?.area?.height }}<br>
        {{ 'speed: ' + roverLimits?.lagTime }}<br>
        
        {{ 'x: ' + roverPosition.coordinates?.x }}<br>
        {{ 'y: ' + roverPosition.coordinates?.y }}<br>
        
        {{ 'roverPosition.orientation?.cardinal: ' + roverPosition.orientation?.cardinal }}<br>
        {{ 'roverPosition.orientation: ' + roverPosition.orientation }}<br>
        
        {{ 'isToCumulateJourneys?.journey: ' + isToCumulateJourneys?.journey }}<br>
        -->

        <button name="lift-form-command" class="pulling-up btn btn-info has-small-shadow" title="Pull form up, hiding it."
            [disabled]="!hasJourneyFinished"
            (click)="pullUp_showInstr(null, true)"
        ><i class="fas fa-arrow-alt-circle-up fa-lg"></i></button>
        
        <!-- Deployment point options Modal -->
        
        <div class="modal fade" id="mars-deployment-points-modal"
            data-keyboard="false" data-backdrop="static"
            tabindex="-1" role="dialog"
            aria-labelledby="selector-label" aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="selector-label">Pick one point to deploy Rover on Mars</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clickedPoint = null;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body mx-2">
                        <div class="mars-deployment-points-container">
                            <span *ngFor="let point of deploymentPoints; let i = index"
                                class="badge has-pointer m-3 badge-{{point.color}} setup-info-badge has-small-shadow"
                                (click)="clickedPoint = '{' + point.coordinates.x + ',' +  point.coordinates.y + '}'; clickedColor = point.color;"
                            >
                                {{ point.place }} <span class="badge badge-light">{{ 'GPS: {' + point.coordinates.x + ',' + point.coordinates.y + '}' }}</span>    
                            </span>
                        </div>
                        <div class="mars-transform-container my-3 text-left">
                            <p>As you most probaly are aware of, all planets have a combined rotation + translation movement...</p>
                            <p>Wanna give it a spin to Mars? To make things more realistic...?</p>
                            
                            <h3>TODO!!!</h3>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" name="set-deployment-point" class="btn" [ngClass]="clickedColor ? 'btn-' + clickedColor : 'btn-info'"
                            [disabled]="!clickedPoint"
                            data-dismiss="modal" (click)="setDeploymentTo(clickedPoint);"
                        >Set Mars deployment to {{ clickedPoint || '(choose one, please)' }}!</button>
                    </div>

                </div>
            </div>
        </div>

    </section>

    <network-data-point [submitedInstructions]="sendSubmitedInstructionsToPrint"></network-data-point>

</main>
