main {
    padding: 1rem; /* 2rem; */
    border-radius: 0.5rem;
    background-color: var(--jpf-scroll-bar-grey);
    /* min-height: 30rem; */
    max-width: 100%; /* 95%; */
    margin: 0 .5rem .5rem 0; /* auto; */
}
main > section {
    max-width: 90%;
    margin: auto;
    /* To looks like a (responsive) grid, content will be aligned center: */
    text-align: center;

    overflow: auto;
}
/* 'define-journey', containing all init condiions form's Inputs, will collapse at submit - do it CSS smoothly: */
main section.define-journey {
    transition: max-height 1s;  
    overflow: hidden;
    /* "height: 0" not work with css transitions */
    max-height: 45rem; /* 34rem; */
    /* Be sure user sees everything, even for tiny vieport's width! */
    overflow-y: auto;
}

/* 
    '.fieldset-collection-wrapper'
    is the wrapper of "n" <fieldset />s that will stay together, by same 'input-section-label' subject.
    I.e. 'section.define-journey' has 2: the restricted square and ( {x,y} pos + orientation), under "Restrict Rover area to the square:"
    All <fieldset />s to stay together should also be wrapped in a <div />. Sometimes they class, others don't - on previous example, we have 'div.rover-init-position'
    Div 'rover-cumulate-journeys-radio-container', with '.input-section-label' holding "About sequential journeys:", has wrapped the 2 radio options, each a <fieldset />
    
    The 'input-section-label' subject is the holder, is the master beam, of each <fieldset /> collection:
        * that's why it's "white-space: nowrap;" and has a fixed width of "width: 22rem;" - adjust it to better fit LARGEST text
*/
main section div.fieldset-collection-wrapper{
    /* display: inline-table; *//* Let <fieldset />s collapse one beneath each other, for smaller viewports! */
    /* display: block;        *//* Let <fieldset />s flow side-by-side for bigger viewports!*/
    
    display: inline-table;
    margin-right: 2rem;
    margin-bottom: 0.5rem;

    /* We have to undo, to the inside, what our container made to us (align center): */
    text-align: left;
    /* Particularly for the Rover commands string (can be any length) we want to to 'block' this input at the end, with maximum width possible:*/
}   div.fieldset-collection-wrapper.flex-max-width { display: flex !important; max-width: 90%; flex-direction: column; }
@media only screen and (max-width: 600px) {
    main section div.fieldset-collection-wrapper{ display: block; }
}

main section .input-section-label {
    width: 22rem;
    white-space: nowrap;
    margin-top: 1rem; margin-bottom: 1rem; 
    color: var(--gray);
}
main section .input-section-label + div,    /* 'div.init-data-text' might be hidden! */
main section .input-section-label + div.hidden + div { border-left: 2px solid var(--jpf-light-grey); }

/* On switching 'isEditMode', replace form's Inputs, now hidden, by badges, or vice-versa */
div.init-data-text { color: var(--gray-dark); padding-top: .2rem; height: 3.5rem; }



/*
    =====================================
    Nice style to form's INPUT boxes:
    =====================================
*/

fieldset.container-styled-input{
    width: 5rem;
    margin: 0 1rem 1rem;
    display: inline-table;
    cursor: pointer;
}
fieldset.max-width { width: 100% }
fieldset.container-styled-input.inline-not {
    margin: 0 1rem;
    display: block;
}
fieldset.container-styled-input.width-not { width: auto; }

.inp {
    position: relative;
    margin: auto;
    width: 100%;
}
.inp.dropdown { pointer-events: none; } /* Is on top of the Input! */
.inp.dropdown > input { pointer-events: all; cursor: pointer; }
.inp.dropdown .dropdown-menu > a.dropdown-item { pointer-events: all; }
.inp.dropdown .dropdown-menu > a.dropdown-item > span {
    /* Ordinal point's ASCII arrow: */
    position: absolute;
    right: 0;
    margin-right: 1rem;
    font-size: x-large;
    margin-top: -10px;
}
.inp.dropdown .dropdown-menu > a.dropdown-item.active{ background-color: var(--jpf-light-grey); }


.inp .label {
    position: absolute;
    top: 16px;
    left: 5px;
    font-size: 14px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
    /*
        If you want to write something (add/delete/modify) to '.label,'
        use its pseudo 'after' selector (or 'before' to rite behind the .label content), on 'content' property,
        by changing '.labet's 'data-xxxx' attribute value:
    */
    } .inp .label.deploy-point:after {
        content: attr(data-deploy-point-place);
        box-shadow: -1px 9px 6px -6px var(--jpf-deployment-color-on);  /* <= CSS var will be JS updated, on user choice for deployment point! */

        position: absolute;
        margin-left: 5px;
        white-space: nowrap;
        font-weight: 900;
}

.inp .inp-border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #07f;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}
.inp input{
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0 5px 12px;
    height: 40px;
    font-size: 17px;
    font-weight: 300;
    border-bottom: 2px solid var(--jpf-light-grey);
    background: none;
    border-radius: 0;
    color: var(--gray-dark);
    transition: all 0.15s ease;
}

.inp input:hover {
    background: rgba(34,50,84,0.03);
}
.inp input:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}
.inp input:focus{
    background: none;
    outline: none;
}
.inp input:focus + span {
    color: #07f;
    transform: translateY(-26px) scale(0.90);
}
.inp input:focus + span + .inp-border {
    transform: scaleX(1);
}

div.rover-cumulate-journeys-radio-container input[type="radio"] { margin-right: 0.5rem; }



/*
    =====================================
    Nice style to form's BUTTONs
    =====================================
*/

/* Buttons and last stuff: */
main button:disabled{ cursor: not-allowed; }

main button[name="lift-form-command"] {
    /*
    background-color: #cecece;
    color: #0074d9;
    */
    /* Smaller: */
    padding: 0.1rem 0.5rem 0;
    font-size: 1.5rem;

    position: absolute;
    top: 1rem; right: -0.4rem;
    /* body margin + main padding + section monitor margin */
    margin-right: calc(1rem + 2rem + 2%); margin-top: 0.6rem;
}
main button[name="lift-form-command"].pulling-up {
    position: relative;
    float: right;
    margin-right: 1rem; margin-top: -3.94rem;
}

main button[name="submit"] {
    /* Center it: */
    display: block;
    margin: 2rem auto;
    margin-bottom: 0.5rem;
}   main button[name="submit"] > i.fas { transform: rotate(-90deg); }


/*
    =====================================
    Rover deployment points BS4 MODAL,
    to user choose one from:
    =====================================
*/

div.modal-body > .mars-deployment-points-container {
    display: flex;
    flex-wrap: wrap;
    place-content: space-evenly;

    overflow: hidden;
}
main button[name="set-deployment-point"] { min-width: 82%; margin: auto; }