<div class="waiting-orbit"  [ngStyle]="{'height': 0.58 * nXcells + 'rem', 'width': 0.58 * nXcells + 'rem'}">
    <div class="rover-in-orbit">
        <i class="fas fa-space-shuttle fa-lg"></i>
    </div>
</div>