/**
    A bit tricky, the Angular components, and CSS, structure we had to mount.
    Secret relayed on CONTAINERS (or wrappers) and FLEX-BOX.

    1st ones limit width/height - we don't know how many moves is the user input to our Rover in Mars...
    So designing a pefectly fit grid... was the question.

    Flex-box allows us to align content and containers, horizontally and vertically,
    besides providing our Rover's movement grids (just to follow; it has nothing to do with Rover's Engine or Cockpit!) with minimum code: 2 single CSS lines:
        display: flex;
        flex-wrap: wrap;
    @ 'grid-items-wrapper'. And thats it. We just define width and height which, in fact, is related to the number of unit commands user inputs @ 'command-center' from.
    For instances "ALRL" will produce a grid of (4 + 4 +1) for each Axis => a square of 9 x 9 = 81 '<div class="grid-item"></div>'.
    The plus '1' is for the '0' center where our Mars compass lyes, the fixed reference our Rover movements along the soil.
    Duplicating the number of unit command letters allows us to assure Rover will always stay in grid, no matter the combination of command units issued
    - at the most, it goes straight ahead, either alog positive or negative half part of one of the 'x' or 'y' Axis.

    The HTML structure is
    <main>
        <section.ui-ux-controller />    // For the user to play with Mars (and Rover related positions) and to show/hide the grid
        <planet>                      // Mars planet
            ...
            <deployed-expedition />     // The entire deployed gear: our CSS + HTML jewel!
                ...
                <exploring-vehicle />   // Our Rover!
                ...
            ...
        </planet>
    </main>

    @ 'deployed-expedition', class '.grid-container', first child, has (an image of) Mars as the background-image and, when Rover lands, hides the growing dimension of it => <section.mars>, 'overflow: hidden;'.
    Has a min-height, according to 'command-center' growing/shrinking dynamic measurements math - the 3 components always perfectly fit the entire viewport
    Its also responsible for aligning h+v all the children content, with flex-box:
        display: flex;
        justify-content: center;
        align-items: center;

    Its a container of 3 main structures:
    1) <div class="grid-items-wrapper" />: container of "n" "<div class="grid-item" />, its our Rover's movements grid. "this.gridCells: : number[]") var renews each time new instructions arrive.
    2) <div id="#rover" />, container of the 'fa-space-shuttle' FontAwesome icon and its own <div id="#rover-compass" />, that contains the 2 ordinal points arrows.
    3) <div class="waiting-orbit" /> will hold a <div class="rover-in-orbit" /> "fake" Rover on a circle orbit, till some Instructions arrive.
    When they do, fake Rover is classed as "stop-orbiting", lands on Mars and is replaced by the real #rover, that will do the movements on Mars soil.
    4) Finally we have <div id="mars-compass" />, the Mars own referencial coordinates, to flag the {0,0} bullseye point, from where all moves will be calculated (and CSSed) from.
        
            -------- // --------

    Later on, we took the image out of 'grid-container' and place it further up, @ 'planet's NEW container: 'planet-bg-img', that will, now, zoom on landing.
    Having this new container, we can "move" and zoom 'grid-container' children (has all the material deployed in Mars!) through out 'planet'.
    
    * ==========================
    *       !!  TODO !!
    * ==========================
    In order to fix bottom left point of the grid into the same viewport's corner, and to keep entire 'grid-container' contents all inside,
    we might have to tranlate + zoom (depends on the hugeness of the grid => hugeness of string command!), at EACH new command set.

    I.e, if you apply to 'grid-container' the CSS:
        transform: translateX(calc(-50% + 29rem)) translateY(calc(-50% - -43rem)) scale(0.8)
    in response to the command string
        start at { x: 7, y: 10 }, S, with this 28 movements huge command unit list: AAALRALAAALRALAAALRALAAALRAL
    arriving at
        #27: (L) -> (7, 10), S
    you'll STILL get ENTIRE grid to be all seen - with an appreciated zoom, that's a fact, turning Rover on a minuscule fly!  
    
    This way, no matter the Mars grid size (proporcional to the unknown number of command units issued!), positioned at each journey's starting point, we always see everything!
    Remmeber we never know, till journey begins, how big will be this grid...
*/

main {
    padding: 0.5rem; /* 1rem; */
    border-radius: 0.5rem;
    background-color: #efdabb;

    margin: 0 .5rem 0.5rem 0;

    /* Extend/shrink in a smooth way: */
    transition: max-height 1s;
    /* "height: 0" not work with css transitions */
    /* We begin fully shrinked:*/
    max-height: 10rem;

    /* So mobiles can enjoy the journey, too!*/
    min-height: 16rem;

    overflow: auto;
}

main > section.ui-ux-controller {
    /* position: relative; */
    position: absolute;
    top: 0; left: 0;
    width: calc(100% - 0.5rem);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; /*wrap;*/ overflow-x: overlay;
    
    /* padding-top: 0; */
    padding: 0.7rem 1rem;

    background-color: #efdabb;
    border-radius: 0.5rem;
}


/*
======================================================
    main > section.ui-ux-controller
======================================================
*/


section.ui-ux-controller > div.plotter-data {
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: 33%;
    height: 1.9rem;
    padding: 0.2rem;

    border: 2px solid var(--secondary);
    background: white;
    cursor: pointer;
    border-radius: .25rem;

    margin-right: 1rem;
    } .plotter-data i.fa-paperclip { margin-top: 0.2rem; color: var(--info);
}
section.ui-ux-controller > div.plotter-data.extended {
    height: 20rem;
    z-index: 1;
    position: absolute;
    top: 11px;
    transition: top 0.5s ease-in-out, height 0.5s ease-in-out;
    
    left: 1rem;
    width: calc(33% - 1rem);
    min-width: 13rem;

    border: 2px ridge var(--jpf-scroll-bar-grey);
    box-shadow: 2px 2px 4px 0px var(--jpf-dark-grey);
}
/*
    ------------------------------------------------
    The left 'div.plotter-data' CSS code is dynamic
    (not HTML marked up once 'space-expedition' component has finish mounting)
     => is on App's styles.css'
    ------------------------------------------------    
*/



section.ui-ux-controller > div.user-commands-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}



section.ui-ux-controller div.ui-switch-container {
    margin-right: 1rem;
}
section.ui-ux-controller div.ui-switch-container > span:first-child { padding-top: 0.26rem; margin-left: 0.25rem; }
section.ui-ux-controller div.ui-switch-container ui-switch.grid-switch { vertical-align: sub; }

/* button[name="zoom-in"],
button[name="zoom-out"] { margin-left: 0.5rem; height: 1.5rem; padding: 0 0.5rem; } */
section.ui-ux-controller div.buttons-container {
    white-space: nowrap;
    margin-right: 1rem;
    } section.ui-ux-controller div.buttons-container:last-child { margin-right: 0;
}
section.ui-ux-controller div.buttons-container > i.fas {
    cursor: pointer;
    color: var(--jpf-scroll-bar-grey);
    margin-right: 1rem;
    border-radius: 50%;
    padding: 0.5rem;
    background-color: var(--secondary);
    /* } section.ui-ux-controller div.buttons-container:last-child > i.fas:last-child { NOT anymore! margin-right: 0; */
}
/* ;-) Why do you need a 2nd icon...? ;-) */
section.ui-ux-controller div.buttons-container.rotation-container > i.fas:first-child { transform: scaleX(-1); }
/* Põe-me os tortos dos icons iguais aos direitos! */
section.ui-ux-controller div.buttons-container.move-container > i.fas:nth-child(1),
section.ui-ux-controller div.buttons-container.move-container > i.fas:nth-child(2),
section.ui-ux-controller div.buttons-container.move-container > i.fas:nth-child(4),
section.ui-ux-controller div.buttons-container.move-container > i.fas:nth-child(5){ padding: 0.5rem 0.7rem; }


section.ui-ux-controller .buttons-container > i.fas:hover{ color: var(--info); background-color: var(--jpf-light-grey); }
section.ui-ux-controller .buttons-container > i.fas:active { color: var(--primary); transform: translateY(0.1rem); box-shadow: none; }
section.ui-ux-controller .buttons-container.disabled > i.fas {
    cursor: not-allowed; 
    color: var(--jpf-dark-grey);
    background-color: var(--jpf-light-grey);
    transition: color 500ms;
}
