
<main class="text-center">

    <section class="ui-ux-controller has-small-shadow">

        <div class="plotter-data text-left" #plotterData [class.extended]="isPlotterExtended" (click)="clickToExpandRoadMap()">
            <div class="plotter-line">
                <strong class="text-uppercase">Rover's Road Map</strong>
                <i class="fas fa-paperclip fa-lg has-text-small-shadow"></i>
            </div>
            <hr [ngStyle]="{ 'margin-top': '0.2rem' }">
        </div>

        <div class="user-commands-container">

            <div class='ui-switch-container badge badge-secondary has-small-shadow'>
                Rulers
                <span class='badge badge-light'>
                    <ui-switch class="grid-switch has-small-shadow"
                        minWidth = "5rem"
                        isTextHTML = "true"
                        enabledText="<span>ON </span>"
                        disabledText="<span>OFF </span>"
                        (changed)="clickToRulersOn($event)"
                    ></ui-switch>    
                </span>
            </div>

            <div class="buttons-container rotation-container" [class.disabled]="!enableToClickTransformationButtons">
                <i class='fas fa-undo has-small-shadow' (click)="clickToTransformMars('+90º')"></i>
                <i class='fas fa-sync has-small-shadow' (click)="clickToTransformMars('no-rotation')"></i>
                <i class='fas fa-undo has-small-shadow' (click)="clickToTransformMars('-90º')"></i>
            </div>

            <div class="buttons-container move-container" [class.disabled]="!enableToClickTransformationButtons">
                <i class='fas fa-angle-double-left has-small-shadow' (click)="clickToTransformMars('L')"></i>
                <i class='fas fa-angle-double-up has-small-shadow' (click)="clickToTransformMars('U')"></i>
                <i class='fas fa-crosshairs has-small-shadow' (click)="clickToTransformMars('no-translation')"></i>
                <i class='fas fa-angle-double-down has-small-shadow' (click)="clickToTransformMars('D')"></i>
                <i class='fas fa-angle-double-right has-small-shadow' (click)="clickToTransformMars('R')"></i>
            </div>

            <div class="buttons-container zoom-container" [class.disabled]="!enableToClickTransformationButtons">
                <i class='fas fa-search-plus has-small-shadow' (click)="clickToTransformMars('in')"></i>
                <i class='fas fa-crosshairs has-small-shadow' (click)="clickToTransformMars('no-zoom')"></i>
                <i class='fas fa-search-minus has-small-shadow' (click)="clickToTransformMars('out')"></i>
            </div>

        </div>

    </section>

    <planet-x
        [landingData]="sendDataToShuttleConveyor"
        [receiveDeployedPos]="marsDeployedPos"
        [currentJourneyRoadMap]="currentJourneyRoadMap"
        [clickedToTransformPlanet]="clickedTransformation"

        (finishTransformPlanetSetOfClicks)="planetCSSTransformFinish()"
        (finishExplorationJourney)="receiveEndOfJourneyReport($event)"
    ></planet-x>

    <network-data-point [receivedVehicleInstructions]="preparedToPrintVehicleInstructions"></network-data-point>

</main>

