section.joystick-container {
    height: 10rem; width: 10rem; margin: auto;

    background-image: url('../../../assets/imgs/canvas.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}
.joystick-button {
    height: 50%;  width: 50%;

    background-image: url('../../../assets/imgs/button.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}