<!-- the ENGINE @ exploring-vehicle-->
<vehicle-mercedes-engine></vehicle-mercedes-engine>
<!-- the COCKPIT @ exploring-vehicle-->
<vehicle-cockpit
    [receiveJourneyDriveInstructions]="journeyCockpitDriveInstructions"
    (eachMoveSpeak)="onEachMoveSpeak($event)"
    (eachMoveReport)="onEachMoveReport($event)"
    (eachMoveStream)="onEachMoveStream($event)"
></vehicle-cockpit>

<!-- the NETWORK cabinet hub @ exploring-vehicle-->
<network-voice-point
    [eachMoveTalk]="exploringMovementTalk"
></network-voice-point>
<network-data-point
    [startMovingData]="exploringInitData"
    [eachMoveData]="exploringMovementData"
    [lastMoveData]="exploringLastMovementData"
></network-data-point>
<network-video-point
    [landingVideoStreamMoments]="getLandingMomentsTimerObj"
    [eachMoveVideoStream]="exploringMovementStream"
></network-video-point>
