<section class="expedition-wrapper">

    <div class="grid-container text-left">

        <div class="grid-items-wrapper">
            <div *ngFor="let cell of gridCells; let n=index;" class="grid-item"
                [class.is-corner]="n === 0 || n === (nXcells - 1) || n === ( (nXcells * nXcells) - (nXcells - 1) - 1 ) || n === ((nXcells * nXcells) - 1)"
                [class.is-center]="n === ( (nXcells * (nXcells - 1)/2) + (nXcells - 1)/2 )"
                [class.is-reference]="n % (nXcells - 1) === 0"
            ></div>
        </div>

        <vehicle-fleet-operations
            [nXcells]="nXcells"
            [landingData]="sendDataToShuttleConveyor"
            [expeditionInstructions]="vehicleInstructions"
            [currentJourneyRoadMap]="currentJourneyRoadMap"
            
            (sendPlanetToZoomOut)="sendPlanetToZoomOut.emit()"
            (sendlandingMomentsTimerObj)="doMarsGrid($event)"
            (isAstronautOnMarsSoil)="isAstronautOnMarsSoil.emit()"
            (finishExplorationJourney)="finishExplorationJourney.emit($event)"
        ></vehicle-fleet-operations>

        <speaker-comms [voiceToBeRead] = "sendVoiceToTooltip"></speaker-comms>

        <div id="mars-compass" class="grid-center">
            <i class="fas fa-crosshairs"></i>
            <div class="arrows-container">
                <div class="cartesian-arrows"><span>NORTH</span>&uarr;</div>
                <div class="cartesian-arrows">&rarr;<span>EAST</span></div>
            </div>
        </div>

        <div id="restricted-area" class="grid-center"></div>

    </div>

</section>