section.expedition-wrapper {
    /* overflow: hidden; */

    /* Force to center h+v its content: 'div.grid-container' has all Rover's stuff in Mars! */
    display: flex;
    justify-content: center;
    align-items: center;

    /*
        Next is a HOLDER styling feature to always have some height!
        Need to be the SAME as this component's CONTAINER: <div class="mars-background-img"> @ 'mars-planet'
        Rememeber the container will suffer several 'transform' CSS style operations
        => this component can only EXACTLY cope with, if they both have exactli the same dimensions - and "display" property (flax, aliged)
        ---------------------------------------------------
        Any STYLING changes (particularly PLACEMENT CSS properties)
                @  <div class="mars-background-img"> @ 'mars-planet'
        MUST exactly be reflected at it's (holder of a lot of things!) direct HTML child
                HERE, quickly saying it!
        ---------------------------------------------------
        
        Can be set to '0' (natural contents height) of height @ <div class="mars-background-img">...
        => comment next line.
    */
    min-height: 90vh;
    /* width: 100%; */
}

/*
======================================================
    main > section.expedition
======================================================
*/

div.grid-container {
    /* Because of 'main' padding! */
    margin: -0.5rem;

    transition: transform 1s ease-in-out;
    
    z-index: 1;
    /* Force to center h+v its content: Mars grid (on 'grid-items-wrapper'), '.grid-center' Rover and Orbit of fake Rover */
    display: flex;
    justify-content: center;
    align-items: center;
    /*
    Will exclusively hold JS calculated
            * "min-height" (to play vertical space with upper 'command-center')
            * "transform: translate + scale" so children fit into 'mars-background-img' scrollable viewport (see right next!)
   */

   /* transform: translate(9rem, 7rem); */
}
/*
======================================================
        =============================
        '.grid-container' contents
        =============================
            'grid-items-wrapper'
              'waiting-orbit'
               'mars-compass'
                 div#rover
            'restricted-area'
             'rover-tooltip'
======================================================
*/

div.grid-items-wrapper {
    opacity: 0;

    /* As a flex grid: */
    display: flex;
    flex-wrap: wrap;
    /* Set 'div.waiting-orbit' position as 'absolute', so we can still see it! */ 
    color: var(--jpf-mars-compass);
}   div.grid-items-wrapper.is-re-allocating {
        transition: transform 1s ease-out 1s;
        color: transparent;
}       div.grid-items-wrapper.is-re-allocating .grid-item.is-corner::before,
        div.grid-items-wrapper.is-re-allocating .grid-item.is-center::before {
            box-shadow: none !important; background-color: transparent;
}

div.grid-items-wrapper > div.grid-item {
    width: 1rem; height: 1rem;
    box-shadow: 0 0 0 1px var(--jpf-light-grey);
    text-align: center;
    line-height: 1.4;
}
/* Strong signaling corners, for huge grids, and diagonal lines. Also put compass on center: */
.grid-item.is-corner:before {
    content: '';
    display: block;
    /* width: 1rem; height: 1rem; */
    width: 0.5rem; height: 0.5rem; margin-left: 0.25rem; margin-top: 0.25rem;

    box-shadow: -1px 2px 20px 4px var(--jpf-mars-compass) !important;
    background-color: var(--jpf-mars-compass);
    border-radius: 50%;

    /* On re-allocating 'grid-items-wrapper' area/coords, we slightly shut down the reference coloring */
    transition: background-color 1s ease-in;
}
.grid-item.is-reference:not(.is-corner):not(.is-center):before {
    content: '*';
}
.grid-item.is-center:before {
    content: '\f276';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;

    font-size: 16px;
    /* color: blue; */
    
    position: relative;
    top: -1px; left: -1px;
    
    box-shadow: 0px 2px 20px 2px var(--jpf-mars-compass);
    border-radius: 50%;
    padding: 2px 5px;

    /* On re-allocating 'grid-items-wrapper' area/coords, we slightly shut down the reference coloring */
    transition: background-color 1s ease-in;
}

div.grid-center,
div.rover-in-orbit.stop-orbiting,
div#rover {
    /* Perfectly centered h+v @ mars-grid */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Force to center h+v its content (fa-space-shuttle / fa-crosshairs)! */
    display: flex;
    justify-content: center;
    align-items: center;
}
div.grid-center { position: absolute !important; opacity: 0; transition: opacity 600ms; }
div.rover-in-orbit.stop-orbiting {
    color: yellowgreen;
    transform: scaleX(1) scaleY(1);
    transition: all 1s ease-in-out;
} /* AND ALSO */ div.waiting-orbit.stop-orbiting{
        top: 50%; left: 50%;
        width: 0 !important; height: 0 !important;    /* <= JS calculated, to perfect circle/square X/Y axis */
        /* animation-iteration-count: 1; */
        transition: all 1s ease-in-out;
}

div#rover {
    width: 2rem;
    height: 2rem;
    color: var(--jpf-rover-color); /*greenyellow;*/
    /* background-color: aqua; */

    z-index: 1;
    
    /* Rover mooves smoothly: */
    transition: all 1s ease-in-out; /* 'transition-duration' will be JS adjusted to the user inputted 'lagTime' value */
    
    /* Hidden while the 'tween' doesn't stop orbiting: */
    display: none;
 }

 /*
    Keep (a twin!!) Rover on orbit while waiting for 'command-center'
    to submit first driving command!
*/
div.waiting-orbit{
    position: absolute; /* NOT relative; so we can have a flex grid underneath @ 'div.mars-grid-background' */
    top: 4.4rem; left: 4.4rem;
    /* width: 13rem; height: 1rem;  /* <= JS calculated, to perfect circle/square X/Y axis */
    z-index: 1;

    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: orbit;
    animation-duration: 5s;
} @keyframes orbit { 
    from { transform: rotate(0deg) } 
    to { transform: rotate(360deg) } 
}   div.rover-in-orbit:not(.stop-orbiting){
        position: absolute;
        transform: scaleX(3) scaleY(3);
        color: yellow;

        display: flex;
        justify-content: center;
        align-items: center;
}
/*
    ===============================================================
    Do we, or do we not,
    want to see 'rover-in-orbit' already spinning @ 'waiting-orbit',
    right at the begining...?!?!?
    Waiting for 'command-center' Instructions to arrive...? To, then, deploy?
    ===============================================================    
*/
div.mars-grid-background {
    min-width: 100vmin;
    min-height: calc(100vh - ((590px + 1rem) + 0.5rem));
}
div.waiting-orbit {
    width: 305px;
    top: 178px;  left: 25vmin;
}
/*  =============================================================== */


/*
    ====================================================
    EACH COMPASS is a "cartesian axys system", in Mars and in Rover,
    that will "orientate" different,
        once Rover starts turning left/right
    or
        Mars starts to transform (rotate/translate)
    ====================================================
*/
div#mars-compass,
div#rover-compass {
    position: relative;
    margin-left: 0.53rem; /* Delta = (-0.02)    FontAwesome icons were always a disaster, concerning symetry...  ;-) */
    /* display: none; */

}   div#mars-compass:not(.grid-center),
    div#rover-compass:not(.grid-center) {
        position: absolute;
        z-index: 1;
        top: 0;

        display: inline-flex;
        width: 2rem; height: 2rem;
        transform: scale(2);
        margin: 1rem;
        /* background-color: aqua; */
}

/*
    ==========================
    Inside each Compass:
    ==========================
*/
div#mars-compass > i.fas,
div#rover-compass > i.fas {
    position: absolute;
    left: 0; bottom: 0;
    margin-left: -0.5rem; margin-bottom: -0.47rem;
    color: var(--jpf-mars-compass); /*var(--warning);*/
    }   div#rover-compass > i.fas { color: blue;
}

div#mars-compass > .arrows-container, 
div#rover-compass > .arrows-container {
    position: relative;
    left: -0.38rem; top: 0.3rem;
    
    width: 1rem;
    /* background-color: wheat; */
}   .arrows-container > div.cartesian-arrows {
        position: absolute;
        left: 0; bottom: 0;
        font-size: x-large;
        }   div#mars-compass > .arrows-container > div.cartesian-arrows { color: springgreen;
        }   div#rover-compass > .arrows-container > div.cartesian-arrows { color: red
                }   .arrows-container > div.cartesian-arrows:last-child {
                        margin-bottom: -0.7rem;
                        margin-left: 0.3rem;
                    }   div#mars-compass > .arrows-container > div.cartesian-arrows:last-child {color: white;
                    }   div#rover-compass > .arrows-container > div.cartesian-arrows:last-child {color: black;

        
                } .arrows-container > div.cartesian-arrows > span {
                    position: absolute;
                    font-size: x-small; /* medium; */
                    font-weight: 900;

                    opacity: 0.7;

                    /* Make the label solid:*/
                    padding: 0 0.5rem;
                    background-color: var(--jpf-light-grey);
                    border: 1px solid;
                    border-radius: .5rem;
                    /*... and for EACH*/
                    }   div#mars-compass > .arrows-container > div.cartesian-arrows > span { color: var(--jpf-mars-compass);
                    }   div#rover-compass > .arrows-container > div.cartesian-arrows > span { color: var(--jpf-rover-color);

                        }   div#mars-compass > .arrows-container > div.cartesian-arrows:first-child > span,
                            div#rover-compass > .arrows-container > div.cartesian-arrows:first-child > span {
                                top: -2.5rem; /*-0.7rem;*/
                                /* ... and a bit further separated: */
                                /* margin-bottom: 2rem; <= went to "top" measure */

                                /* Now '#mars-compass' have "NORTH" on label => h center it: */
                            }   div#mars-compass > .arrows-container > div.cartesian-arrows:first-child > span {
                                    left: -1.3rem;

                        }   div#mars-compass > .arrows-container > div.cartesian-arrows:last-child > span,
                            div#rover-compass > .arrows-container > div.cartesian-arrows:last-child > span {
                                top: 0.6rem; left: 1.6rem;
                                /* ... and a bit further separated: */
                                margin-left: 2rem;

}


/*... and finally: */
#restricted-area.grid-center {
    /* width: 10rem; */
    /* height: 10rem; */
    /* ABOVE wil be set by received driving instructions: */ 

    /* color: red; */
    border: 1px dotted indianred;
    background-color: #ff000029;
}