/* You can add global styles to this file, and also import other style files */
html { height: 100vh; }
body {
    color: #111;
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    line-height: 1.625;
    font-size: 100%;

    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;

    padding: 0;
    margin: .5rem 0; /* 1rem 0; /* 1rem; */
    height: calc(100vh - (2 * 0.5rem));

    overflow-x: hidden;
}

:root {
    --jpf-light-grey: #80808030;
    --jpf-dark-grey: #c8ccd4;
    --jpf-light-info: #17a2b8e3;
    --jpf-scroll-bar-grey: #f0f0f0;

    --jpf-monitor-screen-bg: #343a40;
    --jpf-light-monitor-screen-bg: #343a40d9;

    --jpf-rover-color: greenyellow;
    --jpf-rover-color-transparent: #adff2f54;
    --jpf-deployment-point-compass: wheat;
    --jpf-mars-compass: var(--warning)
}



/*
    ==========================================================
    JSON reports beautify printer dynamically building up with Rover moves
    ==========================================================    
*/

section.monitor-screen-printer pre {

    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.6rem;

    line-height: 1.2;
    overflow-y: auto; overflow-x: hidden;
    margin: 0;

    /* Smooth height change effect: */
    transition: max-height 1s;  
    /* 100vh - [ app-component's <h1 class="mars-angular-header" /> + 2 * (<body /> margin) + 2 * (monitor-component's <main /> margin+padding) ] */
    min-height: calc(100vh - (58px + 2*(.5rem) + 2*(1rem))); /* 5rem; /* Most messages have ONE line - that's the minimum space for them to get it.
    With more, <pre /> will naturally grow...*/
    
    /* "height: 0" not work with css transitions */
    max-height: 7rem;
    /* When JS increaseas this value => we have a smooth growing of this <pre />*/
    /* Obviously that can not do it infinitely!
        Check each parent container max-height, on each of the components that have monitoring.
        Reaching that point, we'll have y scrollbars @ <pre />
    */

    /* New we have a control's bar, at the Sony wide screen monitor's bottom: */
    padding-bottom: 1.5rem;

}

/* .. and inside/content the styling is: */

/* 1) special class div to print ordinary TEXT, with no extra HTML tags: */
section.monitor-screen-printer pre div.pre-div-content {
    color: limegreen;
    line-height: 1rem;
    text-indent: 1rem;
    /* The trick - not on JSON data (all format get's lost!) */
    white-space: normal;
}
/* Type writter effect:*/
section.monitor-screen-printer pre div.pre-div-content:last-of-type {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    /* white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:  typing 1.0s steps(40, end), blink-caret .75s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

/* 2) JSON data properties/values style: */
section.monitor-screen-printer pre .key { color: #17a2b8; line-height: 1rem;}
section.monitor-screen-printer pre .string { color: darkseagreen; }
section.monitor-screen-printer pre .number { color: darkorange; }
section.monitor-screen-printer pre .boolean-true {color: greenyellow;}
section.monitor-screen-printer pre .boolean-false {color: red;}
section.monitor-screen-printer pre .null{ color: white; }

section.monitor-screen-printer pre .comm-in,
section.monitor-screen-printer pre .comm-out{
    vertical-align: middle;
    font-size: large;
    margin-right: .5rem;
}
section.monitor-screen-printer pre .comm-in { color: red;}
section.monitor-screen-printer pre .comm-out { color: white;}

/* 3) Messages custom separator: */
section.monitor-screen-printer pre .separator hr {
    /* Reset BS4 styling: */
    height: 1px;
    /* border-top: 1px solid rgba(0,0,0,.1); */
    /* border: 1px solid red; */
    background: greenyellow;
    /* margin-bottom: 1rem; */
    margin: 1rem 0rem
}


/*
    ==========================================================
    MARS road map PLOTTER (general styling @ 'space-expedition' CSS)
    dynamically building up with cumulated Rover moves
    ==========================================================
*/

section.ui-ux-controller > div.plotter-data .plotter-line{
    padding: 0.05rem 0.1rem;
    font-size: smaller;

    display: flex;
    justify-content: space-around;
}
section.ui-ux-controller > div.plotter-data .plotter-line > span { min-width: 2rem; }
section.ui-ux-controller > div.plotter-data .plotter-line > span.deployment-mars-place { padding: 0 1rem;}

section.ui-ux-controller > div.plotter-data .plotter-line.blockquote-footer { font-style: italic; justify-content: flex-start; }
section.ui-ux-controller > div.plotter-data .plotter-line.blockquote-footer:not(.journey-end) { padding-bottom: 0.5rem; white-space: nowrap; }
section.ui-ux-controller > div.plotter-data .plotter-line.blockquote-footer.journey-end{ padding-bottom: 1rem; }

/*
    ==========================================================
    Quick style classes
    ==========================================================    
*/

.no-wrap { white-space: nowrap; }

.hidden { display: none; }

.visible-inline { display: inline; }
.visible-inline-block { display: inline-block; }
.visible-block { display: block; }

.has-small-shadow { box-shadow: 2px 2px 4px 0px var(--jpf-dark-grey); }
.has-small-strong-shadow { box-shadow: 2px 2px 4px 1px #000000a8; }
.has-text-small-shadow { text-shadow: 2px 2px 4px var(--jpf-dark-grey); }

/*
    ==========================================================
    BOOTSTRAP 4 Costumization: TOOLTIP
    ==========================================================    
*/

/* Style GENERIC BS4 tooltip width */
.tooltip-inner{
    text-align: left;
    /*
        Since ALL App's tooltip are being initialized with "html: true" on set up option,
        no need to white space wrapping or width limit - we do it!
    */
    white-space: nowrap;
    max-width: 100%;
}

/*
    --------------------------------------------------------
    BS4 TOOLTIP in 'SGS_CENTER' component, for user Inputs help (explanation of each Input purpose).
    More set up options @ component's @ TS "ngAfterViewInit()"
    --------------------------------------------------------
*/
/*  ordinary tooltip; nothing, except the generic above, to style */

/*
    --------------------------------------------------------
    BS4 TOOLTIP in 'EXPEDITION' component, for Rover.
    --------------------------------------------------------
    It's special; a UNIQUE dynamic tooltip - follows Rover movements everywhere
    => More setup (several times!) options @  'speaker-comms' component's TS "cockpitTalk()" Method.
    --------------------------------------------------------

    Fix it right on top (a little bit up, but centered) of Mars fixed center axis, independently of Rover's turns on Mars,
    related to '.grid-content' deployment point, as also are all Rover's movements on Mars.

    .. and color it different form any other
*/
speaker-comms { position: absolute; }
speaker-comms > .rover-tooltip  + .tooltip {
    /* Use '!important' to override BS4 '.tooltip' dynamic styling: */
    transform: translate(calc(-50%), calc(-50% - 3rem)) !important;
    /* Rememeber it's an absolute positioned layer. Center it: */
    top: 50% !important; left: 50% !important
}
speaker-comms > .rover-tooltip  + .tooltip > .tooltip-inner {
    /* color: var(--primary); */
    background-color: var(--secondary);
    border: 1px solid var( --jpf-dark-grey);
    font-size: smaller;
}
speaker-comms > .rover-tooltip  + .tooltip.bs-tooltip-top .arrow:before { border-top-color: var( --jpf-dark-grey); }
speaker-comms > .rover-tooltip  + .tooltip.bs-tooltip-right .arrow:before { border-right-color: var( --jpf-dark-grey); }
speaker-comms > .rover-tooltip  + .tooltip.bs-tooltip-bottom .arrow:before { border-bottom-color: var( --jpf-dark-grey); }
speaker-comms > .rover-tooltip  + .tooltip.bs-tooltip-left .arrow:before { border-left-color: var( --jpf-dark-grey); }

/*
    --------------------------------------------------------
    BS4 TOOLTIPs in 'MARS-PLANET' component, for EACH possible deployment point.
    More set up options @ component's @ TS "ngAfterViewInit()"
    --------------------------------------------------------
*/
.mars-points-container .tooltip-inner {
    /* color: var(--primary); */
    background-color: var(--secondary);
    border: 1px solid var( --jpf-dark-grey);
    font-size: smaller;
}
.mars-points-container .tooltip.bs-tooltip-top .arrow:before { border-top-color: var( --jpf-dark-grey); }
.mars-points-container .tooltip.bs-tooltip-right .arrow:before { border-right-color: var( --jpf-dark-grey); }
.mars-points-container .tooltip.bs-tooltip-bottom .arrow:before { border-bottom-color: var( --jpf-dark-grey); }
.mars-points-container .tooltip.bs-tooltip-left .arrow:before { border-left-color: var( --jpf-dark-grey); }


/*
    ==========================================================
    BOOTSTRAP 4 Costumization: BADGE
    ==========================================================    
*/

/* Style BS4 badges classes: */
span.badge.has-pointer { cursor: pointer; }
span.badge.setup-info-badge{
    padding: 0.3rem 0.5rem;
    margin: .5rem .25rem 0;
    font-weight: 300;
    font-size: 14px;   
}
span.badge.setup-info-badge:nth-child(1) { margin: .5rem .25rem 0 calc(1rem + (5px - 5px)) }
span.badge.setup-info-badge > span { margin-left: 0.5rem; }

span.badge.setup-info-badge.arrows-char-printer { background: transparent; }
span.badge.setup-info-badge.arrows-char-printer > span {
    /* This badge has the function of printing HTML code UTF-8 Arrows symbol: */
    background: transparent;
    font-size: x-large; font-weight: bolder;
    white-space: normal;
    text-align: left;

    /* vertical-align: sub; */

    white-space: nowrap;
}


/*
    ==========================================================
    UI-COMPONENTS custom installation
    ==========================================================    
*/

ui-switch .ui-switch-boolean > span.badge { margin: 0 !important; display: block; }
ui-switch .switch-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
ui-switch .switch-container > span.switch { margin-top: -0.2rem; }
ui-switch .switch-container > span.switch-text{ margin-right: 0.4rem; }


/*
    ==========================================================
            SCROLLBARS costum design
    Not supported in Firefox or IE/Edge
    (use of non-standard ::-webkit-scrollbar pseudo element)
    ==========================================================    
*/

/* width */
::-webkit-scrollbar { width: 5px; height: 5px; }
/* Track */
::-webkit-scrollbar-track { background: #f1f1f1; }
/* Handle */
::-webkit-scrollbar-thumb { background: var(--jpf-light-grey); }
/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #555; }


/*
    ==========================================================
    Media queries
    ==========================================================    
*/

/* 1st BS4 Grid break: */
@media only screen and (max-width: 991px) {
    .mobile-hide-for-big { display: none; }
}

@media only screen and (max-width: 767px) {
    .mobile-hide-for-medium { display: none; }
    #monitor-video-hall { margin-left: 0 !important; }
}

/* */
@media only screen and (max-width: 480px) {
    .mobile-hide-for-small { display: none; }
}